.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable  input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable  input[disabled]::-webkit-input-placeholder {
    color: #333;text-align:left;
}
.filterable  input[disabled]::-moz-placeholder {
    color: #333;text-align:left;
}
.filterable  input[disabled]:-ms-input-placeholder {
    color: #333;text-align:left;
}
